<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/carrusel.css') }}" rel="stylesheet">

  <title>Productos - Pastelería Delicias</title>
</head>

<body>
  {% include 'partials/header.html' %}

  <main class="main container">
    <h2 class="center kicker">Nuestros Productos</h2>
    <p class="mt-4 text-center">Aquí encontrarás todos nuestros deliciosos productos.</p>
  </main>

  {% include 'partials/footer.html' %}

  <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
</body>

</html>
